<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;

        padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 100px;
    }
  </style>


<body>
<h1>Welcome To Linkedin</h1>
<h3>Get Connections of Person by Degree</h3>
<form method="POST" action="/getDegConnects">
  <select name="user_id">
    {% for name in data %}
    <option value={{name[0]}}>{{name[1]}}</option>
    {% endfor %}
  </select>
  <p></p>
  <input type="radio" id="first" name="degree" value="first">
  <label for="first">1st Degree Connection</label><br>
  <input type="radio" id="second" name="degree" value="second">
  <label for="second">2nd Degree Connection</label><br>
  <input type="radio" id="third" name="degree" value="third">
  <label for="third">3rd Degree Connection</label>
  <input type="submit" value="Submit">
</form>

<br><br>
<h3>Find Alumni from a School</h3>
<form method="POST" action="/getAlumni">
  <select name="school_id">
    {% for name in data2 %}
    <option value={{name[0]}}>{{name[1]}}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Submit">
</form>


<br><br>
  <h1>Some famous Computer Scientists</h1>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
<p><a href="another">Go to the other page</a></p>





</body>


</html>
